<div ng-controller="PanelCtrl">
	<div class="header">
		<div class="header-content">
			<img ng-click="toggleMenu()" src="images/greenlist-no-bkgrnd.png" width="50" height="50">
			<h3>{{heading}}</h3>
		</div>
	</div>

	<div class="slidemenu" id="slidemenu" ng-class="{hide:!showmenu, slide:showmenu}">
		<h1>Menu</h1>
		<ul>
			<li><a ng-click="toggleMenu()">Close Menu</a></li>
			<li><a href="#!/affiliates" ng-click="toggleMenu()">Affiliates</a></li>
			<li><a ng-controller="AuthCtrl" ng-click="signOut()" >Log out</a></li>
		</ul>
	</div>
<!--
	<div id="all" ng-class="{hide:showmenu,slide:!showmenu}">
		<div id="header">
			<button ng-click="toggleMenu()"></button>
			<h1>testerino</h1>
		</div>
</div>
-->
<nav class="nav-bar">
	<div class="nav-bar-content">
		<ul class="col-xs-12">
			<a href="#!/list" ng-click="heading = 'Shopping List'"><li class="col-xs-4">Shopping List</li></a>
			<a href="#!/history" ng-click="heading = 'History'"><li class="col-xs-4">History</li></a>
			<a href="#!/reports" ng-click="heading = 'Report'"><li class="col-xs-4">Report</li></a>
		</ul>
	</div>
</nav>


