	<div ng-controller="PanelCtrl">
		<div class="header">
			<div class="header-content">
				<img  ng-click="openAside('left', true)" src="images/greenlist-no-bkgrnd.png" width="150" height="150">
				<h3>{{heading}}</h3>
			</div>
		</div>

		<nav class="nav-bar">
			<div class="nav-bar-content">
				<ul class="col-xs-12">
					<a href="#!/list"><li class="col-xs-4" style="background-color: {{listBtnColor}}; color: {{listColor}}">Shopping List</li></a>
					<a href="#!/history"><li class="col-xs-4" style="background-color: {{histBtnColor}}; color: {{histColor}}">History</li></a>
					<a href="#!/reports"><li class="col-xs-4" style="background-color: {{reptBtnColor}}; color: {{reptColor}}">Report</li></a>
				</ul>
			</div>
		</nav>
	</div>


