<header class="header">
    <div class="header-content">
        <a href="index.html#!/list">Back</a>
        <h3>About Us</h3>
    </div>
</header>

<div id="about-page">
    <div class="about-content">

        <img src="images/greenlist-check.png">
    <br><br><br><br><br>

    <h4> About greenl.ist</h4>
    <p>
        greenl.ist is dedicated to providing a service that minimizes our environmental
        footprint by targeting our food waste habits at the roots by creating a
        grocery list that focuses on minimizing excessive spending habits on groceries.
    </p>
    <br><br><br><br><br><br>
    <h4>Our Founders</h4>
        <br><br><br><br>
    <h5>Andrew Mai</h5>
    <p class="summary">Andrew is a part of the front-end with the design and general flow of how
        the app worked. Powered by coffee.
    </p>]
        <br>
    <h5>Andy Tang</h5>
    <p class="summary">Works in the front end team. Andy works extra hours to fine tune the UI and he enjoys it.</p>
        <br>
    <h5>Kieran Lee</h5>
    <p class="summary"> Kieran is part of the front end team. That's all you get, you nosey nerds</p>
        <br>
    <h5>Steven Chang</h5>
    <p class="summary">The group medic, quit his work in medicine to pursue a career in the tech industry</p>
        <br>
    <h5>Turner Vink</h5>
    <p class="summary">Powered by Soylent, Turner works
        with Steven to build greenlist's backend and is known
        within the group as the "master of GitHub".
    </p>
    </div>

</div>