<header class="header">
    <div class="header-content">
        <a href="index.html#!/list">Back</a>
        <h3>Affiliates</h3>
    </div>
</header>

<div id="affiliates-page">

    <div class="affiliate-content">
        <h1>Our Affiliates</h1>
        <p>
            greenl.ist is dedicated towards reducing food waste,
            please check out our affiliates to better optimize
            your lives and minimize your environmental impact!

        </p>


    </div>
    <br><br><br><br>
    <div class="affiliate-content">

        <h1>Phoenix Recipes</h1>

        <!-- Affiliate logo here -->
        <img src="images/phoenix-logo.png">
        <p>
            Phoenix recipes is a user friendly mobile cookbook
            that helps you discover new and delicious ways to use your
            leftovers, and track your food waste
        </p>
        <br>
        <a class="return-link" href="#">Go to Phoenix Recipes</a>
    </div>
    <br><br><br><br>
    <div class="affiliate-content">

        <h1>Take2</h1>

        <!-- Affiliate logo here -->
        <img src="images/take2-logo.png">
        <p>
            Take2 is a web application that helps users figure out what
            they should do with their leftover ingredients. It suggests
            a list of recipes for a combination of two ingredients.
        </p>
        <br>
        <a class="return-link" href="#">Go to Take2</a>
    </div>
    <br><br><br><br>
    <div class="affiliate-content">

        <h1>Wasted</h1>

        <!-- Affiliate logo here -->
        <img src="images/wasted-logo.png">
        <p>
            Web app that tracks what food you have on hand and reminds you when it's about to go bad
        </p>
        <br>
        <a class="return-link" href="http://students.bcitdev.com/A00541112/WebpageMobile/index.html">Go to Wasted</a>

        <br><br><br><br>
        <a class="return-link" href="index.html#!/list">Return to greenl.ist</a>
    </div>
</div>

