<!-- HTML for the slide in menu. -->
<div class="side-menu-header">
    <img ng-src="{{userPic}}">
    <h2>{{userName}}</h2>
    <h3>{{email}}</h3>
</div>
<ul>
    <li><a ng-click="close()" href="#!/about">About</a></li>
    <li><a ng-click="close()" href="#!/affiliates">Affiliates</a></li>
</ul>

<div class="row">
    <div class="container-fluid">
        <ul id="clear-list" class="row">
            <li ng-repeat="lists in allLists" class="row no-gutter">

                <div class="col-xs-8 itemrow">
                    <!-- item name injected here-->
                    <p>{{lists.name}}</p>

                </div>
                <div class="col-xs-2 itemrow"></div>
            </li>
        </ul>
    </div>
</div>

<div class="row no-gutter addrow-row">
    <form>
        <div class="col-xs-7">
            <input ng-model="newListName" type="text" name="list" placeholder="Enter New List Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter New List Name'" class="addbar">
        </div>
        <div class="col-xs-2 button-to-right">
            <button class="add-newList-button" ng-click="addNewList(newListName)">Add</button>
        </div>
    </form>
</div>

<div id="sign-out">
    <a ng-controller="AuthCtrl" ng-click="signOut(); close()">Sign&nbsp;out</a>
</div>
<div id="version">
    <p>v0.3</p>
</div>