<!-- HTML for the slide in menu. -->
<div class="side-menu-header">
    <img ng-src="{{userPic}}">
    <h2>{{userName}}</h2>
    <h3>{{email}}</h3>
</div>
<div id="aside-content">
    <ul>
        <li><a ng-click="close()" href="#!/about">About</a></li>
        <li><a ng-click="close()" href="#!/affiliates">Affiliates</a></li>
        <li><a ng-click="listButton = !listButton">Shared List</a></li>

    </ul>

    <div id="shared-list" ng-show="listButton">
        <ul>
            <li id="list-name" ng-repeat="lists in allLists" class="row no-gutter">
                <div class="col-xs-10" ng-click="shareThisList(lists.listKey)">
                    <!-- item name injected here-->
                    <p>{{lists.name}}</p>
                </div>
                <div class="col-xs-2">
                    <input id="delete-list-btn" type="image" src="images/icons/trash.png" ng-click="deleteList(lists.listKey)"/>
                </div>
            </li>
            <li class="row no-gutter addrow-row" ng-show="listButton">
                <form>
                    <div class="col-xs-7">
                        <input ng-model="newListName" type="text" name="newShareListName" placeholder="Enter New List Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter New List Name'">
                    </div>
                    <div class="col-xs-2 button-to-right">
                        <button class="add-newList-button" ng-click="addNewList(newListName)">Add</button>
                    </div>
                </form>
            </li>
        </ul>
    </div>
</div>

<div id="aside-footer">
    <div id="sign-out">
        <a ng-controller="AuthCtrl" ng-click="signOut(); close()">Sign&nbsp;out</a>
    </div>
    <div id="version">
        <p>v0.3</p>
    </div>
<div>