

<form id="emailform" method="POST" action="https://script.google.com/macros/s/AKfycbyW7hqkGbj8cEV5GB9NgUplA04B5wx054IzYSUxeYOOsygr0_c/exec">
    Name:<br>
    <input type="text" id="name" name="name"/><br>
    Message:<br>
    <input type="text" id="message" name="message"/><br>
    Your Email:<br>
    <input type="text" id="useremail" name="useremail"/><br>
    <input type="submit"/>
</form>

<script src="../../app/scripts/submitemail.js"></script>
<!--<script data-cfasync="false" type="text/javascript">-->
    <!--var loc =  "../../app/scripts/submitemail.js";-->
    <!--$.getScript(loc);-->
<!--</script>-->
<!--<div style="display:none;" id="thankyou_message">-->
    <!--<h2><em>Thanks</em> for contacting us!-->
        <!--We will get back to you soon!</h2>-->
<!--</div>-->

<!--&lt;!&ndash; For the email to work &ndash;&gt;-->
<!--<script data-cfasync="false" type="text/javascript"-->
        <!--src="https://cdn.rawgit.com/dwyl/html-form-send-email-via-google-script-without-server/master/form-submission-handler.js"></script>-->
