<div id="goodbye-page">
    <div class="container-fluid">
        <div class="row">
            <h1 class="col-xs-12">Goodbye!</h1>

            <p class="col-xs-12">
                We're sorry to see you go. All of your data has been deleted, If you want to start using
                greenlist again just log in and get started!
            </p>

            <p class="col-xs-12">
                If you can, please take a minute to tell us why you decided to erase your data:
            </p>

            <form class="col-xs-12" ng-submit="signOut()">
                <textarea cols="25" rows="3"></textarea>

                <input type="submit" value="Logout of greenlist">
            </form>
        </div>
    </div>
</div>