<ng-include src="'views/partials/panel.html'"></ng-include>

<div class="container-fluid">	
	<div class="row no-gutter">
		<div class="container-fluid">
			<!--an individal item -->
			<div class="row">
				<div ng-repeat="food in historyItem" class="row topurchase">
					<div class="col-xs-2 emptycb itemrow">
						<input type="image" src="images/add-to-list.png" class="addtolist" ng-click="addToList(food)"/>
					</div>
					<div class="col-xs-8 itemname itemrow">
						<p class="shopping-item">{{food.name}}</p>
						<!-- Tempo waste bar -->
						<div class="col-xs-12 colourbar">
							<div class="innerbar" ng-style="getBarColor(food.average)">
							</div>
						</div>
					</div>
					<div class="col-xs-2 garbage itemrow">
						<input type="image" src="images/log-waste.png" class="logwaste" ng-click="logWaste(food)" ng-hide="food.dataUpdated"/>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Search bar -->
	<div class="row no-gutter addrow-row">
		<form>
			<div class="col-xs-9">
				<input type="text" name="item" placeholder="Enter an item" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter an item'" class="addbar">
			</div>
			<div class="col-xs-3 button-to-right">
				<button class="add-item-button">Search</button>
			</div>
		</form>
	</div>
</div>

<!-- Input area background -->
<div class="input-bg"></div>