<ng-include src="'views/partials/panel.html'"></ng-include>
<div class="container-fluid">
    
    <div id="report-page" ng-click="hideDateMenu()">

        <!-- Placeholder, will use Angular -->
        <div class="container-fluid">
            <div class="row">
                <div id="scores-section" class="col-xs-12">
                    <h1 class="col-xs-12" id="efficiency-message">Your efficiency rating:</h1>
                    <h1 class="col-xs-12"><span id="elo-rating" ng-style="getTextColor(calAverage.$value)">{{calAverage.$value * 20 | number: 0}}</span></h1>

                    <p>You're using {{calAverage.$value / 100 | percentage: 1}} of your groceries.</p>
                    <p>{{motivationMsg}}</p>
                </div>
            </div>

            <div class="row">
                <div id="top-items">
                    <div class="row">
                        <h3 class="col-xs-12">Most Efficient:</h3>
                    </div>
                    <div class="row">
                        <ol class="col-xs-12">
                            <li ng-style="getBackgroundColor(item.average)" ng-repeat="item in setTopEff | orderBy: item.average:true">{{item.name}} <span class="pull-right" ng-style="">{{item.average / 100 | percentage: 1}}</span></li>
                        </ol>
                    </div>

                    <div class="row">
                        <h3 class="col-xs-12">Least Efficient:</h3>
                    </div>
                    <div class="row">
                        <ol class="col-xs-12">
                            <li ng-style="getBackgroundColor(item.average)" ng-repeat="item in setBotEff | orderBy: item.average">{{item.name}} <span class="pull-right" ng-style="">{{item.average / 100 | percentage: 1}}</span></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Select data range -->
    <div class="row no-gutter addrow-row" style="margin-bottom: {{menuMargin}}">
        <div class="col-xs-9">
            <p class="addbar">Period: {{dateRange}}</p>
        </div>
        <div class="col-xs-3 button-to-right">
            <button class="add-item-button" ng-click="showDateMenu()">Change</button>
        </div>
    </div>
</div>

<!-- Input area background -->
<div class="input-bg" style="height: {{menuHeight}}">
    <!-- Data range list -->
    <ul ng-modle="dateRange">
        <li ng-click="dateRange = 'Last 2 Weeks'; hideDateMenu()">2wks</li>
        <li ng-click="dateRange = 'Last Month'; hideDateMenu()">1m</li>
        <li ng-click="dateRange = 'Last 3 Months'; hideDateMenu()">3m</li>
        <li ng-click="dateRange = 'Last 6 Months'; hideDateMenu()">6m</li>
        <li ng-click="dateRange = 'Last Year'; hideDateMenu()">12m</li>
        <li ng-click="dateRange = 'All Time'; hideDateMenu()">All</li>
    </ul>
</div>
