<header class="header">
    <div class="header-content">
        <a class="go-back-btn" href="index.html#!/list">Back</a>
        <h3>Error 404</h3>
    </div>
</header>
<div id="monty-python">

<h2> Bad Boy!!</h2> <img ng-click="playAudio()" src="images/ben-yu.jpg">
    <p>Oh no! You have been visited by the spooky ghost of COMP1536! He has
    stolen your enthusiasim for web development!</p>
    <p>Click <a href="https://angularjs.org/">here</a> to not dislike the
        concept of web dev!
    </p>

</div>