
/* page CSS */
#about-page{
    margin-left: auto;
    margin-right: auto;
}

/* Content CSS */
.about-content{

    display: block;
    margin: inherit;
    text-align: center;
}
/* Header CSS */
#about-page h1{
    font-size: 350%;
    font-weight: bold;
    border-bottom: #000000 solid 2px;
    width: 60%;
    margin: inherit;
}

#about-page h5{
    font-size: 350%;
    font-weight: bold;
    text-decoration: underline;
    width: 34%;
    text-align: left;
}

#about-page h4{
    font-size: 350%;
    font-weight: bold;
    border-bottom: #000000 solid 2px;
    width: 60%;
    margin: inherit;
}


/* text css */
#about-page p{
    font-size: 350%;
    width: 90%;
    margin: inherit;
}

/* anchor link css */
#about-page .return-link{
    font-size: 350%;
    width: 90%;
    margin: inherit;
    text-align: center;
    border-top: black thin solid;
}

/* logo css */
#about-page img{
    margin-top: 2%;
    width: 25%;
    height: 25%;
}