
/* page CSS */
#about-page {
    margin-left: auto;
    margin-right: auto;
}

/* Content CSS */
.about-content {
    display: block;
    margin: inherit;
    text-align: center;
}

/* Header CSS */
#about-page h1 {
    font-size: 8.875vw;
    font-weight: bold;
    border-bottom: #000000 solid 2px;
    width: 60%;
    margin: inherit;
}

#about-page h5 {
    font-size: 6.2125vw;
    font-weight: bold;
    text-decoration: underline;
    text-align: left;
    padding-left: 5%;
}

#about-page h4 {
    font-size: 7.1vw;
    font-weight: bold;
    border-bottom: #000000 solid 2px;
    width: 60%;
    margin: inherit;
    margin-top: 10vw;
    margin-bottom: 5vw;
}


/* text css */
#about-page p {
    font-size: 5.325vw;
    width: 90%;
    margin: inherit;
}

#about-page .summary {
    font-size: 5.325vw;
    width: 90%;
    text-align: left;
}

/* anchor link css */
#about-page .return-link {
    font-size: 5.5025vw;
    width: 90%;
    margin: inherit;
    text-align: center;
    border-top: black thin solid;
}

/* logo css */
#about-page img {
    margin-top: 3.55vw;
    width: 40%;
    height: 40%;
}

/* Landscape view */
@media only screen and (orientation : landscape) {

    /* Header CSS */
    #about-page h1 {
        font-size: 5vh;
        font-weight: bold;
        border-bottom: #000000 solid 2px;
        width: 50%;
        margin: inherit;
    }

    #about-page h5 {
        font-size: 3.5vh;
        font-weight: bold;
        text-decoration: underline;
        text-align: left;
        padding-left: 25%;
    }

    #about-page h4 {
        font-size: 4vh;
        font-weight: bold;
        border-bottom: #000000 solid 2px;
        width: 50%;
        margin: inherit;
        margin-top: 8vh;
        margin-bottom: 4vh;
    }


    /* text css */
    #about-page p {
        font-size: 3vh;
        width: 50%;
        margin: inherit;
    }

    #about-page .summary {
        font-size: 3vh;
        width: 50%;
        text-align: left;
    }

    /* anchor link css */
    #about-page .return-link {
        font-size: 3.1vh;
        width: 50%;
        margin: inherit;
        text-align: center;
        border-top: black thin solid;
    }

    /* logo css */
    #about-page img {
        margin-top: 2vh;
        width: 30vh;
        height: 30vh;
    }
}