
/* page CSS */
#affiliates-page {
    margin-left: auto;
    margin-right: auto;
}

/* Content CSS */
.affiliate-content {
    display: block;
    margin: inherit;
    text-align: center;
}
/* Header CSS */
#affiliates-page h1 {
    font-size: 5vh;
    font-weight: bold;
    border-bottom: #000000 solid 2px;
    width: 60%;
    margin: inherit;
}

/* text css */
#affiliates-page p {
    font-size: 3vh;
    width: 90%;
    margin: inherit;
}

/* anchor link css */
#affiliates-page .return-link {
    font-size: 3vh;
    width: 90%;
    margin: inherit;
    text-align: center;
    border-top: black thin solid;
}

/* logo css */
#affiliates-page img {
    margin-top: 2vh;
    width: 25%;
    height: 25%;
}