/* App views backgroud */ 
body{
    font-family: 'Asap', sans-serif;
}

body.undefined-page {
    background-color: #278518;
}

body.ShoppingListCtrl-page {
    background-color: white;
}

body.ReportCtrl-page {
    background-color: white;
}

body.HistoryListCtrl-page {
    background-color: white;
}

/* Side menu */
.sidebar {
    text-align: right;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0px;
    background-color: black;
    z-index: 2;
}

/* Log waste popup */
#logwaste-popup {
	margin-top: 650px !important;
	background: white;
}

.logwaste-popup .modal-content {
	background-color: transparent !important;
	border: none !important;
}

.logwaste-popup .modal-dialog h4 {
	font-size: 300%;
	text-align: center;
	padding: 50px;
}

.logwaste-popup .modal-dialog input {
	font-size: 300%;
	margin: 50px;
}

.logwaste-popup .modal-dialog button {
	font-size: 300%;
	border: none;
	background-color: green;
	color: white;
	display: inline-block;
	width: 100%;
}

/* Styling for the slider bar*/
.logwaste-popup input[type=range]{
	-webkit-appearance: none;
	width: 80%;
}

/* the track for google*/
input[type=range]::-webkit-slider-runnable-track {
	width: 200px;
	height: 20px;
	border-radius: 10px;
	background-color: black;
}

/* the track for firefox*/
input[type=range]::-moz-range-track {
	width: 200px;
	height: 20px;
	border-radius: 10px;
	background-color: black;
}

/* the thing you grab to slide for google*/
input[type=range]::-webkit-slider-thumb {
	border: none;
	height: 32px;
	width: 32px;
	border-radius: 50%;
	background: green;
	margin-top: -4px;
}

input[type=range]::-moz-range-thumb {
	border: none;
	height: 32px;
	width: 32px;
	border-radius: 50%;
	background: green;
	margin-top: -4px;
}

#aside-background {
	background-color: white;
	height: 100%;
	margin-top: 0;
	border: white solid 1px;
}

.page-content{
	padding-top: 1%;
}