/* Page view */
.content {
	background-color: white;
	width: 100%;
	margin-top: 20.7675vw;
	margin-bottom: 32.8375vw;
}

/* Nav bar */
.nav-bar {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 99;
}

.nav-bar-content {
	width: 100%;
	text-align: center;
}

.nav-bar-content ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: inline-block;
}

.nav-bar-content li {
	margin: 0;
	padding-top: 11.5375vw;
	font-size: 3.55vw;
	display: inline-block;
	height: 18.815vw;
	border-top: gray solid 1px;
	background-position: top;
	background-size: 12.425vw;
	background-repeat: no-repeat;
}

/* Header */
.header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}

.header-content {
	background-color: green;
	width: 100%;
}

.header-content a {
	padding-left: 4.4375vw;
	font-size: 5.325vw;
	position: fixed;
	top: 6.2125vw;
	margin-left: 4.4375vw;
	color: white;
	text-decoration: none;
	display: inline-block;
	background-image: url('../../images/icons/back-arrow.png');
	background-position: left;
	background-repeat: no-repeat;
	background-size: 5.325vw;
}

.header-content img {
	position: fixed;
	top: 0;
	width: 15.975vw;
	height: 15.975vw;
	margin-left: 1.775vw;
	margin-top: 1.775vw;
	border-radius: 100%;
	border: white solid 2px;
}

.header-content h3 {
	color: white;
	font-size: 7.1vw;
	text-align: center;
	margin: 0;
	padding: 6.2125vw;
	font-weight: bold;
}

/* Input area background */
.input-bg {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 33.725vw;
	background-color: white;
	border-top: gray solid 1px;
	transition: 0.3s;
	z-index: 97;
}

.input-bg ul {
	padding: 0;
	list-style-type: none;
	margin-top: 16.5075vw;
}

.input-bg li {
	margin: 0;
	font-size: 3.55vw;
	display: inline-block;
	width: 15.5%;
	text-align: center;
	border-left: gray solid 1px;
}

.input-bg li:first-child {
	border: none;
}

@media only screen and (orientation : landscape) {
	
}
