#menuleft.slide {
	left:0
}

#all.hide {
	position:fixed;
	left:50%;
	top:0;
	width:100%
}

#all.slide {
	position:relative;
}

.slide,.hide {
	transition: all 0.2s ease;
}

/* Page view */
.content {
	background-color: white;
	width: 100%;
	margin-top: 180px;
	margin-bottom: 320px;
}

/* Nav bar */
.nav-bar {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 99;
}

.nav-bar-content {
	width: 100%;
	text-align: center;
}

.nav-bar-content ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: inline-block;
}

.nav-bar-content li {
	margin: 0;
	padding-top: 110px;
	font-size: xx-large;
	display: inline-block;
	height: 180px;
	border-top: gray solid 1px;
	background-position: top;
	background-size: 120px;
	background-repeat: no-repeat;
}

/* Header */
.header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}

.header-content {
	background-color: green;
	width: 100%;
}

.header-content img {
	float: left;
	width: 150px;
	height: 150px;
	margin-left: 20px;
	margin-top: 18px;
	border-radius: 100%;
	border: white solid 5px;
}

.header-content h3 {
	color: white;
	font-size: 400%;
	text-align: center;
	margin: 0;
	padding: 60px 160px 60px 60px;
	font-weight: bold;
}

.input-bg {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 320px;
	background-color: white;
	border-top: gray solid 1px;
	transition: 0.3s;
	z-index: 97;
}

.input-bg ul {
	padding: 0;
	font-size: 300%;
	list-style-type: none;
	margin-top: 160px;
}

.input-bg li {
	display: inline-block;
	width: 15.5%;
	text-align: center;
	border-left: gray solid 1px;
}

.input-bg li:first-child {
	border: none;
}

.header-content a{
	padding-left: 5%;
	font-size: 900%;
	float: left;
	border: white thin solid;
	color: white;
	padding-right: 5%;
	text-decoration: none;
}