#report-page{
    margin: inherit;
    width: 100%;
    padding: 0% 10%;
    background-color: #ffffff;
    padding-top: 5%;
}

#efficiency-message {
    font-size: 500%;
    font-weight: bold;
}

#scores-section{
    margin: inherit;

    text-align: center;
    border-bottom: grey solid 1px;
}

#top-food{
    margin: inherit;
}

#report-page p{
    font-size: 300%;
    font-weight: bold;
}

#improvement-message{
    font-size: 400%;
    font-weight: bold;
}

#elo-rating{
    font-weight: bold;
    font-size: 300%;
    color:  #278518;
}

#report-page ol{
    font-weight: bold;
    font-size: 350%;
}

#efficiency-pct{
    font-weight: bold;
    color:  #278518;
}

.bad-item1{
    color: red;
}

.bad-item2{
    color: red;
}

.bad-item3{
    color: orange;
}