body{
    font-family: 'Asap', sans-serif;
    /*background-color: #278518;*/
}

#header{
    background-color: black;
    color: white;
}

nav{
    background-color: black;
    color: white;
    bottom: 0px;
    position: fixed;
    width: 100%;
}

body.undefined-page {
    background-color: #278518;
}

body.ShoppingListCtrl-page {
    background-color: white;
}

body.ReportCtrl-page {
    background-color: white;
}



body.HistoryListCtrl-page {
    background-color: white;
}