#logo {
    width: 30%;
    height: 30%;
    padding-top: 5%;
    padding-bottom: 2%;
    margin: inherit;
}



#login-page{
    background-color: #278518;
    color: #ffffff;
    text-align: center;
    margin:auto;
    padding-bottom: 2%;
}

#sign-in{
    display: block;
    margin: inherit;
    width: 15%;
    height: 15%;
}