
#menuleft.slide{left:0}
#all.hide{position:fixed;left:50%;top:0;width:100%}
#all.slide{position:relative;}
.slide,.hide{transition: all 0.2s ease;}

.content {
	background-color: white;
	width: 100%;
	margin-top: 170px;
	margin-bottom: 120px;
}

.nav-bar {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 99;
}

.nav-bar-content {
	background-color: green;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.nav-bar-content ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: inline-block;
}

.nav-bar-content li {
	margin: 0;
	padding-top: 80px;
	font-size: xx-large;
	display: inline-block;
	height: 150px;
	border: grey solid 1px;
}

.nav-bar-content a {
	color: white;
}

.header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}

.header-content {
	background-color: green;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0px;
	text-align: left;
	border: #ffffff 2px solid;
}

.header-content img {
	float: left;
	width: 18%;
	height: 18%;
	padding: 1%;
	border-radius: 100%;
}

.header-content h3 {
	color: white;
	font-size: 400%;
	text-align: center;
	margin: 0;
	padding: 60px;
	font-weight: bold;
}