#report-page{
    margin: inherit;
    width: 100%;
    padding: 0% 10%;
    background-color: #ffffff;
}

#scores-section{
    margin: inherit;

    text-align: center;
    border-bottom: grey solid 1px;
}

#top-food{
    margin: inherit;
}

#elo-rating{
    font-weight: bold;
    color:  #278518;
}

#efficiency-pct{
    font-weight: bold;
    color:  #278518;
}