.clearicon {
    margin: 0 auto;
}

.clearlist {
    background: lightslategray;
}

.colourbar {
    background-color: darkgrey;
    margin: auto;
    padding: 7px;
}

.innerbar {
    background-color: lightgreen;
    width: 80%;
    padding: 7px;
    margin-left: 3px;
}

.purchased, .fullcb {
    background-color: lightgrey;
}

.itemrow {
    height: 200px;
    border-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-top: 2px;
    border-top-style: solid;
    border-top-color: black;
}

/**
.emptycb, .fullcb{
    border-left: 5px;
    border-left-style: solid;
    border-left-color: black;
}**/

.topurchase {
    border-type: solid;
}

.addrow-row {
    bottom: 0;
    padding-bottom: 120px;
    position: fixed;
    width: 80%;
    margin-bottom:50px;
}

.add-item-button{
    margin-top: -25px;
}

.icon {
    margin: 0;
    width: 150px;
    height: 150px;
    padding: 0;
    margin-top: 10px;
    margin-left: 20px;
}

.addbar {
    width: 100%;
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
    font-size: 50px;
    padding: 4px 7px;
    outline: 0;
    -webkit-appearance: none;
    bottom: 0px;
    height: 100px;
}




.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
}

.stickyfooter {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
}

.shopping-item{
    font-size: 450%;
    font-weight: bold;
    padding-bottom: 5%;
}

.add-icon{
    height: 50px;
    width: 50px;
}