<ng-include src="'views/partials/panel.html'" ng-controller="PanelCtrl"></ng-include>

<div id="affiliates-page">
    <div id="first-affiliate">

        <h1>Phoenix Recipes</h1>

        <!-- Affiliate logo here -->
        <img src="images/phoenix-logo.png">
        <p>
            Phoenix recipes is a user friendly mobile cookbook
            that helps you discover new and delicious ways to use your
            leftovers, and track your food waste
        </p>
        <br>
        <a href="index.html">Return to GreenList</a>
    </div>


</div>

