
<div id="affiliates-page">

    <div class="affiliate-content">
        <h1>Our Affiliates</h1>
        <p>
            Greenl.ist is dedicated towards reducing food waste,
            please check out our affiliates to better optimize
            your lives and minimize your environmental impact!

        </p>


    </div>
    <br><br><br><br>
    <div class="affiliate-content">

        <h1>Phoenix Recipes</h1>

        <!-- Affiliate logo here -->
        <img src="images/phoenix-logo.png">
        <p>
            Phoenix recipes is a user friendly mobile cookbook
            that helps you discover new and delicious ways to use your
            leftovers, and track your food waste
        </p>
        <br>
        <a href="index.html">Return to GreenList</a>
    </div>
    <br><br><br><br>
    <div class="affiliate-content">

        <h1>Phoenix Recipes</h1>

        <!-- Affiliate logo here -->
        <img src="images/take2-logo.png">
        <p>
            Take2 is a web application that helps users figure out what
            they should do with their leftover ingredients. It suggests
            a list of recipes for a combination of two ingredients.
        </p>
        <br>
        <a href="index.html">Return to GreenList</a>
    </div>


</div>

