<ng-include src="'views/partials/panel.html'"></ng-include>

<div ng-init="tempfood=['banana', 'potato', 'rice']">
	<div class="container-fluid">
		
		<div class="row no-gutter">
			<div class="container-fluid">
				<!--an individal item -->
				<div ng-repeat="food in tempfood" class="row topurchase">
					<div class="col-xs-2 emptycb itemrow">
						<input type="image" src="images/emptybox.png" class="icon"/>
					</div>
					<div class="col-xs-8 itemname itemrow">
						<p>{{food}}</p>
						<!-- Tempo waste bar -->
						<div class="col-xs-12 colourbar">
							<div class="innerbar">
							</div>
						</div>
					</div>
					<div class="col-xs-2 garbage itemrow">
						<input type="image" src="images/garbagecan.png" class="icon"/>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row no-gutter addrow-row">
			<form>
				<div class="col-xs-10 addrow">
					<input type="text" name="item" placeholder="Add an item" class="addbar">
				</div>
				<div class="col-xs-1 addrow">
					<input type="image" src="images/plusPLACEHOLDER.png" class="icon">
				</div>
			</form>
		</div>
	</div>
</div>