<!DOCTYPE html>
<html>
	<head>
		<link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="../css/shopping.css" rel="stylesheet">
	</head>
	<body>
		<div class="container-fluid">
			<!--First section for items in list -->
			<div class="row no-gutter">
				<div class="container-fluid">
					<!--an individal item -->
					<div class="row topurchase">
						<div class="col-xs-1 emptycb itemrow" style="background: gold">
							<input type="image" src="../../images/emptycheckboxPLACEHOLDER.png" class="icon"/>
						</div>
						<div class="col-xs-10 itemname itemrow" style="background: green">
							<p>This is a test</p>
						</div>
						<div class="col-xs-1 garbage itemrow" style="background: red">
							<input type="image" src="../../images/garbagePLACEHOLDER.png" class="icon"/>
						</div>
					</div>
				</div>
			</div>
			<!--Second section for the clear list button -->
			<div class="row no-gutter earlist" style="background: gray">
				<div class="col-xs-5"></div>
				<div class="col-xs-2">
					<input type="image" src="../../images/archivePLACEHOLDER.png" class="icon itemrow"/>
				</div>
			</div>
			<!--Third section for the items purchased -->
			<div class="row">
				<div class="container-fluid">
					<div class="row no-gutter purchased">
						<div class="col-xs-1 itemrow" style="background: gold">
							<img src="../../images/fullcheckboxPLACEHOLDER.png" alt="checkbox" class="icon">
						</div>
						<div class="col-xs-11 itemrow" style="background: green">
							<p>This is a test</p>
						</div>
					</div>
				</div>
			</div>
			<!--Fourth section for adding new items -->
			<div class="row no-gutter">
				<form>
					<div class="col-xs-11 addrow">
						<input type="text" name="item">
					</div>
					<div class="col-xs-1 addrow">
						<input type="submit" value="add">
					</div>
				</form>
			</div>
		</div>
	</body>
</html>