<div id="detailReport-popup">
    <div id="dataModalInner">
        <h1>{{food.name}}</h1>

        <div ng-show="chartData.length != 0">
            <h3>Current efficiency: {{food.average / 100 | percentage: 1}}</h3>
            <br>
            <h3 id="chartTitle">Usage over time:</h3>

            <canvas ng-show="data.length != 0" id="line" class="chart chart-line" chart-data="chartData"
                    chart-labels="labels" chart-options="options" chart-colors="colors">
            </canvas>
        </div>

        <div ng-show="chartData.length == 0">
            <h3>no data logged</h3>
        </div>

    </div>
</div>

