<div id="detailReport-popup">
    <div id="dataModalInner">
        <h1>{{food.name}}</h1>

        <div ng-show="chartData.length != 0">
            <h3>Current efficiency: {{food.average / 100 | percentage: 1}}</h3>
            <br>
            <h3 class="chartTitle">Last two weeks:</h3>

            <canvas ng-show="recentChartData.length != 0" class="chart chart-line" chart-data="recentChartData"
                    chart-labels="recentLabels" chart-options="options" chart-colors="colors">
            </canvas>

            <h3 class="chartTitle">Usage over time:</h3>

            <canvas ng-show="chartData.length != 0" class="chart chart-line" chart-data="chartData"
                    chart-labels="labels" chart-options="options" chart-colors="colors">
            </canvas>
        </div>

        <div ng-show="chartData.length == 0">
            <h3>no data logged</h3>
        </div>

    </div>
</div>

