<div ng-controller="PanelCtrl">

	<!-- App header panel -->
	<header class="header">
		<div class="header-content">
			<img id="userPic" ng-click="openAside('left', true)" ng-swipe-right="openAside(left, true)" ng-src="{{userPic}}">
			<h3 ng-hide="shoppingListHide">{{heading}}</h3>

			<select ng-show="shoppingListHide" style="color: black; margin-left: 25vw;" >
				<option>{{currentList}}</option>
				<option ng-click="switchToList(false)">MyList</option>
				<option ng-click="switchToList(list)" ng-repeat="list in shareListName">{{list.name}}</option>
			</select>



		</div>
	</header>

	<!-- App nav panel -->
	<nav class="nav-bar">
		<div class="nav-bar-content">
			<ul class="col-xs-12">
				<a href="#!/list"><li class="col-xs-4" style="background-color: {{listBtnColor}}; color: {{listColor}}; background-image: url({{listBgImg}});">Shopping List</li></a>
				<a href="#!/history"><li class="col-xs-4" style="background-color: {{histBtnColor}}; color: {{histColor}}; background-image: url({{histBgImg}}">History</li></a>
				<a href="#!/reports"><li class="col-xs-4" style="background-color: {{reptBtnColor}}; color: {{reptColor}}; background-image: url({{reptBgImg}}">Report</li></a>
			</ul>
		</div>
	</nav>
</div>


