<div ng-controller="PanelCtrl">

	<!-- App header panel -->
	<header class="header">
		<div class="header-content">
			<img id="userPic" ng-click="openAside('left', true)" ng-src="{{userPic}}">
			<h3>{{heading}}</h3>
		</div>
	</header>

	<!-- App nav panel -->
	<nav class="nav-bar">
		<div class="nav-bar-content">
			<ul class="col-xs-12">
				<a href="#!/list"><li class="col-xs-4">Shopping List</li></a>
				<a href="#!/history"><li class="col-xs-4">History</li></a>
				<a href="#!/reports"><li class="col-xs-4">Report</li></a>
			</ul>
		</div>
	</nav>
</div>


