<div ng-controller="PanelCtrl">

	<!-- App header panel -->
	<header class="header">
		<div class="header-content">
			<div style="text-align: center;" ng-show="shoppingListHide">
			    <span class="dropdownList"  dropdown>
                    <h3 ng-init="getList()" href="" class="dropdown-toggle-list" dropdown-toggle >{{currentList}}</h3>

                    <ul style="transform: translate(-50%, 0); text-align: left;" class="dropdown-menu" dropdown-menu>
                        <li>
                            <a ng-click="switchToList('main')">My List</a>
                        </li>

                        <li ng-repeat="list in shareListName">
                            <a style="color: black;" ng-click="switchToList(list)">{{list.name}}</a>
                        </li>
                    </ul>
              </span>
			</div>

            <img id="userPic" ng-click="openAside('left', true)" ng-swipe-right="openAside(left, true)" ng-src="{{userPic}}">
            <h3 ng-hide="shoppingListHide">{{heading}}</h3>
		</div>


	</header>

	<!-- App nav panel -->
	<nav class="nav-bar" style="display: {{navDisplay}}">
		<div class="nav-bar-content">
			<ul class="col-xs-12">
				<a href="#!/list"><li class="col-xs-4" style="background-color: {{listBtnColor}}; color: {{listColor}}; background-image: url({{listBgImg}});">Shopping List</li></a>
				<a href="#!/history"><li class="col-xs-4" style="background-color: {{histBtnColor}}; color: {{histColor}}; background-image: url({{histBgImg}}">History</li></a>
				<a href="#!/reports"><li class="col-xs-4" style="background-color: {{reptBtnColor}}; color: {{reptColor}}; background-image: url({{reptBgImg}}">Report</li></a>
			</ul>
		</div>
	</nav>
</div>


